@tailwind base;
@tailwind components;
@tailwind utilities;

/* Globales livianos */
html { scroll-behavior: smooth; }
html, body, #root { height: 100%; }

/* Colores base via Tailwind (dark por clase) */
body {
  @apply bg-zinc-50 text-zinc-900 dark:bg-zinc-950 dark:text-zinc-100;
}
:root { color-scheme: light dark; }
